<!--pages/feeds/feeds.wxml-->
<view class="order-scroll">
  <block wx:key="id" wx:for="{{feedsList}}">
    <navigator class="scroll-view-item" url="../issue/issue?id={{item.issue.id}}">
      <text wx:if="{{item.aOwner === null}}">待回答</text>
      <text wx:if="{{item.aOwner != null}}">已回答</text>
      <text class="item-question">{{item.issue.question}}</text>
      <view class="item-answer" wx:if="{{item.aOwner != null}}">
        <image src="{{imgBaseUrl}}{{item.aOwner.avatar}}"
          mode="aspectFill" 
          catchtap="toPerson" 
          data-person-id="{{item.aOwner.id}}"></image>
        <view class="item-name">{{item.aOwner.name}}</view>
        <view class="item-voice">1元偷偷听</view>
        <view class="item-pv">{{item.issue.pv}}访问</view>
      </view>
    </navigator>
  </block>
  <loading hidden="{{hidden}}">
    加载中...
  </loading>
</view>

<button type="mini" bindtap="onQuiz" class="quiz">问</button>